/* MAIN INDEX.HTML FILE  */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-family:'Montserrat'; 
    height:100%;
   }
  


/* APP.js STYLING */
.App{
    width:90vw;
}

/* NAVBAR STYLING */
.navbar-logo{
    width:auto;
    height:65px;
  }
.navbar-nav{
    background:	#172888;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    position:fixed;
    width:100vw;
}
.navbar-div{
    width:80vw;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.navbar-nav-bottom{
    background:	#172888;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    color:white;
    height:125px;
    width:100vw;
    margin-top:15px;
    font-size:25px;
}
.navbar-nav-bottom>p{
    width:20vw;
    word-wrap: break-word;
    text-align:center;
}

.navbar-a{
    color:white;
    text-decoration:none;
    font:35px;
    margin-left:10px;
  }
.navbar-a:hover{
    cursor:pointer;
    transition: all .3s ease-in;
    transform: scale(1.1);
}

/*  */

/* MAIN INFO  */
.maininfo-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:15px;    
}

.maininfo-picture{
    margin:85px 0px 10px 0px;
    width:275px;
   border-radius:200px;

}

.maininfo-info{
    text-align:center;
}

.maininfo-info-h1{
    text-decoration: underline;
    font-size:28px;
}
.maininfo-info-h2{
    font-size:20px;
}
.maininfo-info-p{
    font-size:16px;
    color:rgb(150, 145, 145);
}
.maininfo-icons-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:20px;
    width:65vw;
}

.maininfo-icons-div{
   display:flex;
   flex-direction:column;
   justify-content: baseline;
   align-items: center;
   padding:5px;
   width:75px;
   text-align:center;
}

.maininfo-icons-div:hover{
    transition: all .5s ease-in;
    transform: scale(1.1);
    cursor:pointer;
}
 .maininfo-icons-image{
    width:65px;
    height:auto;
    padding-bottom:5px;
    border-bottom:2px black solid;
 }
 .maininfo-icons-p{
     font-size:18px;
     margin-top:3px;
 }

 .contactform-wrapper{
     width:60%;
     margin:0 auto;
     display:flex;
     flex-direction:column;
     justify-items:center;
     align-items: center;
 }
 .contactform-button{
    margin-top:10px;
    background:none;
    padding:10px;
    border:solid 2px black;
    border-radius:5px;
    color:#881728;
    font-weight:bold;
    font-family:'Montserrat';
    letter-spacing: 3px;
    font-size:25px;
    width:250px;
}
.contactform-button{
    display:none;
}
.contactform-button:hover{
    cursor: pointer;
 }

 .contactform-form{
    display:flex;
    flex-direction:column;
    justify-items:flex-start;
    align-items: center;
    width:50vw;
 }
 
 .contactform-label{
     margin:5px;
     display:flex;
     flex-direction: column;
     justify-content: center;
    align-items:center;
     font-size:20px;
 }
 .contactform-label>input{
    width: 320px;
    font-size:20px;
}
.contactform-label>textarea{
    width: 320px;
    height: 125px;
    font-size:20px;
}


.contactform-submit{
    border:solid 1px black;
    border-radius:5px;
    color:#881728;
    font-weight:bold;
    font-family:'Montserrat';
    letter-spacing: 1px;
    font-size:14px;
    margin:10px;
}
.contactform-submit:hover{
   cursor: pointer;
}
/* CODING INFO  */
.codinginfo-wrapper{
    display:flex;
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
    text-decoration: none;
}
.codinginfo-div{
    width:100%;
    text-align:center;
}
.codinginfo-icons-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    margin:10px
}

.codinginfo-icon-image{
    width:75px;
    height:auto;
    margin:0;
}

.codinginfo-icon-image-node{
    width:auto;
    height:40px;
    margin:0;
}
.codinginfo-icons-div{
    text-align:center;
    width:100%;
  
}
.codinginfo-h3{
    text-decoration:underline;
}
.codinginfo-focus-p{
    font-size:14px;
    letter-spacing: 1px;
}

.codinginfo-work-p{
    font-size:16px;
}

.codinginfo-work-image{
    width:85px;
}
/*  */


/* MEDIA QUERIES */
@media (min-width:1030px){
    .contactform-button{
        display:none;
    }
    .navbar-logo{
        height:90px;
        
      }
    .navbar-nav{
        height:100px;
    }
        
    .navbar-a{
        font-size:28px;
    }
    .maininfo-picture{
        width:240px;
        margin-top:100px;
    }
    .maininfo-info-h1{
       font-size:28px;
    }
    .maininfo-info-h2{
        font-size:26px;
    }
    .maininfo-info-p{
        font-size:24px;
    }
    .maininfo-icons-container{
        width:100%;
        justify-content: space-evenly;
        align-items:baseline;
    }
    .maininfo-icons-div{
       padding:5px;
       width:75px;
        display:flex;
        justify-content:center;
       align-items:center;
    }
    
      .maininfo-icons-image{
        width:115px;
        height:90px;
    }
     .maininfo-icons-p{
         font-size:20px;
         margin-top:3px;

     } 
     .maininfo-contact>button{
        font-size:24px;
        border:3px solid black;
        padding:15px;
        letter-spacing:8px;
      }    
      .codinginfo-icons-wrapper{
          width:85vw;
          margin:0 auto;
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items:baseline;
          padding:5px;
      }
      .codinginfo-icons-div>p{
          font-size:24px;
      }
      .codinginfo-icon-image{
          width:125px;
          height:auto;
      }
      .codinginfo-icon-image-node{
          width:125px;
          height:145px;
      }
      .codinginfo-h3{
          font-size:36px;
      }
      .codinginfo-focus-p{
          font-size:24px;
          letter-spacing: 1px;
      } 
      .codinginfo-work-p{
          font-size:18px;
      }
    
      .codinginfo-work-image{
          width:175px;
          border:black 4px solid;
          padding:5px;
         
      }
      .codinginfo-work-image:hover{
        width:175px;
        border:gold 4px solid;
        padding:5px;
        cursor:pointer;
        transition: all .3s ease-in;
        transform: scale(1.1);
    }
    .navbar-nav-bottom{
        background:	#172888;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        color:white;
        height:125px;
        width:100%;
        margin-top:15px;
        font-size:16px;
    }
}



/* MEDIA QUERIES */
@media (max-width:1025px){
    .navbar-logo{
        height:75px;
        
      }
    .navbar-nav{
        height:85px;
    }
        
    .navbar-a{
        font-size:24px;
    }
    .maininfo-picture{
        width:185px;
        margin-top:85px;
    }
    .maininfo-info-h1{
       font-size:26px;
    }
    .maininfo-info-h2{
        font-size:22px;
    }
    .maininfo-info-p{
        font-size:20px;
    }
    .maininfo-icons-container{
        width:100%;
        justify-content: space-evenly
    }
    .maininfo-icons-div{
       padding:5px;
       width:75px;
        display:flex;
        justify-content:center;
       align-items:center;
    }
    
      .maininfo-icons-image{
        width:85px;
        height:auto;
    }
     .maininfo-icons-p{
         font-size:15px;
         margin-top:3px;

     } 
     .maininfo-contact>button{
        font-size:16px;
        border:2px solid black;
        padding:5px;
      }    
      .codinginfo-icons-wrapper{
          width:65vw;
          margin:0 auto;
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items:baseline;
      }
      .codinginfo-icon-image{
          width:80px;
          height:auto;
      }
      .codinginfo-icon-image-node{
          width:95px;
          height:85px;
      }

      .codinginfo-h3{
        font-size:30px;
    }
      .codinginfo-focus-p{
          font-size:18px;
          letter-spacing: 1px;
      } 
      .codinginfo-work-p{
          font-size:18px;
      }
    
      .codinginfo-work-image{
          width:150px;
          height:auto;
          border:pink 4px solid;
          padding:5px;
         
      }
      .navbar-nav-bottom{
        background:	#172888;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        color:white;
        height:125px;
        width:100%;
        margin-top:15px;
        font-size:12px;
    }
}

@media (max-width:770px){
    .navbar-logo{
        height:75px;
        
      }
    .navbar-nav{
        height:85px;
    }
        
    .navbar-a{
        font-size:24px;
    }
    .maininfo-picture{
        width:185px;
        margin-top:85px;
    }
    .maininfo-info-h1{
       font-size:26px;
    }
    .maininfo-info-h2{
        font-size:22px;
    }
    .maininfo-info-p{
        font-size:20px;
    }
    .maininfo-icons-container{
        width:100%;
        display:flex;
        justify-content:space-evenly;
       align-items:baseline;
    }
    .maininfo-icons-div{
       padding:5px;
       width:75px;
        
    }
    
      .maininfo-icons-image{
        width:85px;
        height:75px;
    }
     .maininfo-icons-p{
         font-size:15px;
         margin-top:3px;

     } 
     .maininfo-contact>button{
        font-size:12px;
        border:2px solid black;
        padding:5px;
      }    
      .codinginfo-icons-wrapper{
          width:65vw;
          margin:0 auto;
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items:baseline;
      }
      .codinginfo-icon-image{
          width:80px;
          height:auto;
      }
      .codinginfo-icon-image-node{
          width:95px;
          height:85px;
      }
      .codinginfo-focus-p{
          font-size:14px;
          letter-spacing: 1px;
      } 
      .codinginfo-work-p{
          font-size:16px;
      }
    
      .codinginfo-work-image{
        width:150px;
        height:auto;
        border:black 4px solid;
        padding:5px;
       
    }
    .navbar-nav-bottom{
        background:	#172888;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        color:white;
        height:125px;
        width:100%;
        margin-top:15px;
        font-size:10px;
    }
}

@media (max-width:420px){
    .navbar-logo{
        height:40px;
        
      }
    .navbar-nav{
        height:50px;
    }
        
    .navbar-a{
        font-size:16px;
    }
    .maininfo-icons-container{
        width:85%;
    }
    .maininfo-picture{
        width:170px;
        margin-top:55px;
    }
    .maininfo-info-h1{
       font-size:22px;
    }
    .maininfo-info-h2{
        font-size:18px;
    }
    .maininfo-info-p{
        font-size:16px;
    }
    .maininfo-icons-div{
       padding:5px;
       width:75px;
    }
    
      .maininfo-icons-image{
        height:60px;
        width:60px;
    }
     .maininfo-icons-p{
         font-size:15px;
         margin-top:3px;

     } 
     .maininfo-contact>button{
        font-size:14px;
        border:2px solid black;
        padding:7px;
      }    
      .codinginfo-icons-wrapper{
          width:80%;
          display:flex;
          justify-content: space-evenly;
      }
    
      .codinginfo-icon-image{
          width:45px;
      }
      .codinginfo-icon-image-node{
          width:60px;
          height:45px;
      }
      .codinginfo-focus-p{
          font-size:14px;
          letter-spacing: 1px;
      } 
      .codinginfo-work-p{
          font-size:16px;
      }
    
      .codinginfo-work-image{
          width:85px;
          border:black 4px solid;
          padding:5px;
         
      }
      .navbar-nav-bottom{
        background:	#172888;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        color:white;
        height:125px;
        width:100%;
        margin-top:15px;
        font-size:8px;
    }
}

 /* iPhone 6/7 */
@media (max-width:378px){
    .navbar-logo{
        height:40px;
        
      }
    .navbar-nav{
        height:50px;
    }
        
    .navbar-a{
        font-size:16px;
        margin: 0;
    
    }
    .maininfo-icons-container{
        width:85%;
    }
    .maininfo-picture{
        width:135px;
        margin-top:55px;
    }
    .maininfo-info-h1{
       font-size:22px;
    }
    .maininfo-info-h2{
        font-size:18px;
    }
    .maininfo-info-p{
        font-size:16px;
    }
    .maininfo-icons-div{
       padding:5px;
       width:75px;
    }
    
      .maininfo-icons-image{
        width:50px;
        height:auto;
    }
     .maininfo-icons-p{
         font-size:15px;
         margin-top:3px;

     } 
     .maininfo-contact>button{
        font-size:12px;
        border:2px solid black;
        padding:5px;
      }    
    
      .codinginfo-icon-image{
          width:45px;
      }
      .codinginfo-icon-image-node{
          width:60px;
      }
      .codinginfo-focus-p{
          font-size:14px;
          letter-spacing: 1px;
      } 
      .codinginfo-work-p{
          font-size:16px;
      }
    
      .codinginfo-work-image{
          width:85px;
          border:black 4px solid;
          padding:5px;
         
      }
      .navbar-nav-bottom{
      background:	#172888;
      display:flex;
      justify-content: space-evenly;
      align-items:center;
      color:white;
      height:125px;
      width:100%;
      margin-top:15px;
      font-size:8px;
  }
}


/* iPhone 5 */
@media (max-width:325px){
    .navbar-logo{
        height:35px;
        
      }
    .navbar-nav{
        height:45px;
    }
        
    .navbar-a{
        font-size:8px;
    }
    .maininfo-picture{
        width:125px;
        margin-top:55px;
    }
    .maininfo-info-h1{
       font-size:22px;
    }
    .maininfo-info-h2{
        font-size:18px;
    }
    .maininfo-info-p{
        font-size:16px;
    }
    .maininfo-icons-div{
       padding:5px;
       width:75px;
    }
    
      .maininfo-icons-image{
        width:55px;
        height:auto;
    }
     .maininfo-icons-p{
         font-size:13px;
         margin-top:3px;

     } 
    .maininfo-contact>button{
      font-size:12px;
      border:2px solid black;
      padding:5px;
    }    
  
    .codinginfo-icon-image{
        width:45px;
    }
    .codinginfo-icon-image-node{
        width:60px;
    }
    .codinginfo-focus-p{
        font-size:14px;
        letter-spacing: 1px;
    } 
    .codinginfo-work-p{
        font-size:16px;
    }
  
    .codinginfo-work-image{
        width:85px;
        border:black 4px solid;
        padding:5px;
       
    }
    .navbar-nav-bottom{
        background:	#172888;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        color:white;
        height:125px;
        width:100%;
        margin-top:15px;
        font-size:8px;
    }
}
