.MainInfo_Wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:15px;
}

img.kevin{
    max-width:150px;
    max-height:150px;
    border-radius:75px;
}

.MainInfo_Text{
    text-align:center;
}

h1{
    text-decoration: underline;
    font-size:20px;
}
h2{
    font-size:16px;
}
p{
    font-size:13px;
    color:rgb(150, 145, 145);
}
.MainInfo_Icons{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    margin:20px;
}

.MainInfo_Icons>div{
   display:flex;
   flex-direction:column;
    justify-content: center;
   align-items: center;
   padding:0px 10px 0px 10px ;
   

}
.MainInfo_Icons>div:hover{
    transition: all .5s ease-in;
    transform: scale(1.3);
}

.MainInfo_Icons>div>img{
    width:25px;
    height:25px;
}

button{
    margin-top:10px;
    background:none;
    padding:6px;
    border:none;
    border-radius:5px;
    color:#881728;
    font-weight:bold;
    font-family:'Montserrat';
}

