nav{
    background:deepskyblue;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

a{
    font-size:15px;
    color:white;
    text-decoration:none;
}
a:hover{
    font-size:22px;
}

nav>img{
    width:100px;
    height:100px;
}