nav{
    background:	#172888;
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:70px;
}

a{
    font-size:15px;
    color:#ffffff;
    text-decoration:none;
}
a:hover{
    font-size:22px;
}

nav>div>img{
    width:100px;
    height:100px;
}