nav{
    background:	#172888;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
}

a{
    font-size:15px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}
a:hover{
    transition: all .3s ease-in;
    transform: scale(1.1);
}

.logo{
    height:100%;
}

@media screen and (max-width: 425px) {
    a{
        font-size:12px;
        color:white;
    }
    a:hover{
        font-size:13px;
    }
  }

  @media screen and (max-width:1000){
    a{
        color:green;
    }
}