/* MAIN INDEX.HTML FILE  */
html{
    font-size:10px;
}
.App{
    font-family:'Montserrat';
    border: red 5px solid;
    width:100vw;
}


.navbar{
    background:	#172888;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    position:fixed;
    width:100vw;
    height:80px;
    border:4px green solid;
}

main{
    padding-top:100px;
    border:4px yellow solid;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.navbar__logo{
    height:75px;
  }
.navbar__link{
    color:white;
    text-decoration:none;
    font-size:2.6rem;
    border:orange 3px solid;
  }
.navbar__link:hover{
    cursor:pointer;
    transition: all .3s ease-in;
    transform: scale(1.1);
}

/* START MAIN INFO  */
.infocard{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:15px;
    width:350px;
    border:3px solid green;
}

.infocard__photo{
    width:100%;
    border-radius:200px;
    margin:0;
    border:3px orange solid;
}

.infocard__title{
    text-decoration: underline;
    font-size:2.8rem;
    width: 75%;
    border:3px orange solid;
    text-align:center;
}
.infocard__tagline{
    font-size:2.0rem;
    width: 75%;
    border:3px orange solid;
    text-align:center;
}
.infocard__text{
    font-size:1.6rem;
    color:rgb(150, 145, 145);
    width: 75%;
    border:3px orange solid;
    text-align:center;
}

.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    padding:6px;
    width:50%;
    border:3px green solid;
}
.menu__icon{
   display:flex;
   flex-direction:column;
   justify-content: baseline;
   align-items: center;
   width:75px;
   height:auto;
   text-align:center;
   border:orange 2px solid;
}

.menu__icon:hover{
    transition: all .5s ease-in;
    transform: scale(1.1);
    cursor:pointer;
}
.menu__title{
    font-size:2.6rem;
    border:orange solid 3px;
}
 .menu__image{
    width:80%;
    height:auto;
    margin:0px;
    padding-bottom:5px;
    border-bottom:2px black solid;
 }

 .menu__name{
    font-size:1.4rem;
    margin:3px;
    border:orange solid 3px;
 } 
 
.--vertical{
    display:flex;
    flex-direction:column;
}
.--horizontal{
    display:flex;
    flex-direction: row;
}


.codinginfo-work-image{
    width:85px;
}
/*  */
/* .codinginfo-work-image:hover{
    width:175px;
    border:gold 4px solid;
    padding:5px;
    cursor:pointer;
    transition: all .3s ease-in;
    transform: scale(1.1);
}
.codinginfo-work-p{
    font-size:16px;
} */
/* bottombar*/
/* 
.bottombar{
    background:	#172888;
    color:white;
    height:100px;
    width:100vw;
    margin-top:15px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottombar__item{
   font-size:1rem;
} */


 /* .contactform-wrapper{
     width:60%;
     margin:0 auto;
     display:flex;
     flex-direction:column;
     justify-items:center;
     align-items: center;
 }
 .contactform-button{
    margin-top:10px;
    background:none;
    padding:10px;
    border:solid 2px black;
    border-radius:5px;
    color:#881728;
    font-weight:bold;
    font-family:'Montserrat';
    letter-spacing: 3px;
    font-size:25px;
    width:250px;
}
.contactform-button{
    display:none;
}
.contactform-button:hover{
    cursor: pointer;
 }

 .contactform-form{
    display:flex;
    flex-direction:column;
    justify-items:flex-start;
    align-items: center;
    width:50vw;
 }
 
 .contactform-label{
     margin:5px;
     display:flex;
     flex-direction: column;
     justify-content: center;
    align-items:center;
     font-size:20px;
 }
 .contactform-label>input{
    width: 320px;
    font-size:20px;
}
.contactform-label>textarea{
    width: 320px;
    height: 125px;
    font-size:20px;
}


.contactform-submit{
    border:solid 1px black;
    border-radius:5px;
    color:#881728;
    font-weight:bold;
    font-family:'Montserrat';
    letter-spacing: 1px;
    font-size:14px;
    margin:10px;
}
.contactform-submit:hover{
   cursor: pointer;
} */