/* MAIN INDEX.HTML FILE AREA */
html{
    font-size:16px;
    text-transform:uppercase;
    width:100%;
}
address{
    font-style:none;
}
body{
    margin:0;
   padding:0;
}

/* APP */
.App{
    font-family:'Montserrat';
    width:100%;
}
/* FIXED NAVBAR */
.navbar{
    background:	#172888;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    position:fixed;
    width:100%;
    height:10vh;
    margin:0;
    padding:0;
    top:0;
    left:0;
    right:100;
    z-index:10;
}
.navbar__logo{
    height:8vh;
  }
.navbar__link{
    color:white;
    text-decoration:none;
    letter-spacing: 4px;
    text-transform: uppercase;
    animation-duration: 1s;
    animation-delay: 1s;
    font-size:2.1rem;

  }
.navbar__link:hover{
    cursor:pointer;
    transition: all .3s ease-in;
   text-decoration:underline;
}

/* Main Body */
.mainBody{
    display:flex;
    flex-direction:column;
    margin-top:15vh;
    z-index: 0;
    animation-duration: 1s;
    animation-delay: .5s;
}
/* INFOCARD */
.infocard{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.infocard__photo{
    width:100%;
    max-width:250px;
    border-radius:100%;
    margin:0;
}

.infocard__title{
    font-weight: bolder;
    width: 90%;
    text-align:center;
    margin:4px 0px;
    font-weight:bold;
    letter-spacing: 2px;
    font-size:3.2rem;
}
.infocard__tagline{
    width: 75%;
    text-align:center;
    margin:3px 0px;
    font-size:1.9rem;
}
.infocard__text{
    color:rgb(150, 145, 145);
    width: 85%;
    text-align:center;
    margin:8px;
    font-size:.9rem;
}

/* MENUS */
.menu{
    width:100%;
    margin:25px 0px;
    padding:0;
    
}

/* MENU SECTIONS */
.menu__main{
    display:flex;
    justify-content:center;
}

.menu__projects{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.menu__skills{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* Special Menu Selectors */
.menu__skills .menu__icon{
    flex-basis:20%;
    flex-grow:1;
}
/* Default Classes for Menu  */
.menu__icon{
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   height:auto;
   margin:5px 0px;
   text-align:center;
   flex-basis:20%;
}


.menu__title{
    flex:1 0 auto;
    width:100%;
    text-align:center;
    letter-spacing:16px;
    text-transform:uppercase;
    font-size:2.6rem;
    margin:25px 0px;
}
 .menu__image{
     width:auto;
    height:100px;
    margin:0px;
    padding-bottom:5px;
    border-bottom:2px white solid;
    max-width:130px;
 }

 .menu__name{
    margin:3px 0px;
    font-weight:bolder;
    letter-spacing:2px;
    font-size:2.0rem;
    
 } 
 .menu__description{
    margin:5px 0px;
    letter-spacing:1px;
    font-size:1.2rem;
    text-transform:capitalize;
    color:rgb(150, 145, 145);
 } 


 


/* BOTTOM BAR  */
 .bottombar{
    background:	#172888;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    height:10vh;
    bottom:100;
    left:0;
    text-decoration: none;
    padding:20px 0px;
}


.bottombar__item{
    color:white;
    word-wrap: break-word;
    padding:3px;
    font-size:1.8rem;
}
.--vertical{
    display:flex;
    flex-direction:column;
}
.--horizontal{
    display:flex;
    flex-direction: row;
}
.--wM{
    width:150px;
}

.--font-black{
    color: black;
}
.--font-small{
    font-size:0.4rem;
}

.--page{
    width:100%;
}

.--border-gold{
    border:3px white solid;
}

.--border-gold:hover{
    border:3px gold solid;
}
.--no-animation{
    transform:none;
    transition:none;
}
.--color-hover:hover{
    cursor: pointer;
    text-decoration:underline;
}

.--hover:hover{
    transition: all .5s ease-in;
    transform: scale(1.1);
    cursor:pointer;
    
}

