
/* MEDIA QUERIES */
@media screen and (min-width:750px) and (max-width:2000px) {
  html{
    font-size:12px;
  }
  .menu__main,.menu__projects{
    justify-content: space-evenly;
    margin:80px 0px;
  }
  .infocard__photo{
    max-width: 500px;
  }

  .menu__image{
    max-width:200px;
    height:185px;
  }
}

/* MEDIA QUERIES */
/* IPAD HORIZONTAL */

/* IPAD VERTICAL */
@media screen and (max-width:749px){
  html{
    font-size:10px;
  }
  .navbar__logo{
   
  }
  .menu__main{
    justify-content: space-evenly;
  }
  .menu__projects{
    justify-content: space-evenly;
  }
}

/* IPHONES AND MIBLE */
/* Iphone 6,7,8 PLUS */
@media screen and (max-width:500px){
  html{
    font-size:10px;
  }

   /*  */
   .menu{
     margin:10px 0px;
   }
  .menu__main{
    justify-content: space-around;
  }
  .menu__projects{
    flex-direction: column;
  }

  /* Special CSS Selectors */
.menu__projects .menu__image{
  height:185px;
  width:235px;
  max-width:235px;
}
.menu__skills .menu__icon{
  flex-basis:50%;
}

  /* CSS Defaults */
  .menu__icon{
    
  }
  .menu__image{
    width:85px;
  }
 


  /* Bottombar */
  .bottombar{
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:auto;
    padding:10px 0px;
}
  .bottombar__item{
    margin:0;
  }
}

 /* iPhone 6/7 */
@media screen and (max-width:380px){
 html{
   font-size:8px;
 }
}
 


/* iPhone 5 */
@media screen and (max-width:325px){
    
}
